.form-input-wrapper {
  display: flex;
  flex-direction: column;
}

.form-input-label {
  display: block;
  color: rgb(55, 65, 81);
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-input-field {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.375rem;
  transition: all 0.2s ease;
}

.form-input-field:focus {
  outline: none;
  ring: 2px;
  ring-color: rgb(59, 130, 246);
  border-color: rgb(59, 130, 246);
}

.form-input-field.error {
  border-color: rgb(239, 68, 68);
}

.form-input-field.error:focus {
  ring-color: rgb(239, 68, 68);
}

.form-input-error {
  color: rgb(239, 68, 68);
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
