.form-button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  color: white;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  background-color: rgb(59, 130, 246);
}

.form-button:hover:not(:disabled) {
  background-color: rgb(37, 99, 235);
}

.form-button:disabled {
  background-color: rgb(147, 197, 253);
  cursor: not-allowed;
  opacity: 0.7;
}
