.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 450px;
}

.Statscard {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-width: 410px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding-top: 0px ;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 238px;
}

.headerRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.header {
  padding: 16px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
}

.headerOrange {
  background-color: #ff9966;
  justify-content: center;
}

.headerRed {
  background-color: #ff6b7b;
  justify-content: center;
}

.contentRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  padding: 40px 20px;
  
}

.numberOrange {
  font-size: 48px;
  font-weight: 700;
  color: #ff9966;
  text-align: center;
}

.numberRed {
  font-size: 48px;
  font-weight: 700;
  color: #ff6b7b;
  text-align: center;
}
