.App {
  text-align: center;
}

.App-logo {
  height: 45.07px;
  width: 36px;
  pointer-events: none;
  padding-right: 20px;
  display: absolute;
}

.elementsContainer {

  position: absolute;
  top: 75px;
  left: 500px;
  width: calc(100vw - 450px);


  gap: 20px;
  padding: 20px;
 
  max-width: 1200px;
}


.graphContainer {
  display: flex;
  position: absolute;
  top: 300px;
  right: 350px;
  width: 550px;
  
}


.InventoryContainer {

  position: absolute;
  top: 75px;
  left: 500px;
  width: calc(100vw - 450px);


  gap: 20px;
  padding: 20px;
 
  max-width: 1200px;
}

.HistoryContainer {

  position: absolute;
  top: 75px;
  left: 600px;
  width: calc(100vw - 450px);


  gap: 20px;
  padding: 20px;
 
  max-width: 1200px;
}


/*
.elementsContainer > div:nth-child(1) {
  grid-column: 1 / -1;
}


.elementsContainer > div:nth-child(2) {
  grid-column: 1 / -1;
}


.elementsContainer > div:nth-child(3) {
  grid-column: 1 / 2;
}


.elementsContainer > div:nth-child(4) {
  grid-column: 2 / -1;
}
*/
/* Main app container with flexbox layout */
